# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.npmrc
yarn-error.log

# testing
coverage

# build
dist
compiled
.rpt2_cache

# misc
.nyc_output
.DS_Store
